html,
body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

header {
  margin-top: -18px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  width: 500px;
}

#media {
  position: relative;
  margin-top: 25px;
  width: 500px;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 2%;
  /* background: linear-gradient(
    to right top,
    #f7b6b6 0%,
    #fae3c6 0%,
    #b6bae6 60%,
    #9198e5 100%
  ); */
  /* background: linear-gradient(to right top, #f7b6b6 0%, #9198e5); */
  background: radial-gradient(
    circle,
    rgba(181, 181, 252, 1) 0%,
    rgba(210, 186, 252, 1) 50%,
    rgba(255, 214, 255, 1) 100%
  );

  animation: gradient 10s ease infinite alternate;
  background-size: 400% 400%;
  height: 100vh;
  background-attachment: fixed;
  color: #252421;
  overflow: auto;
}

#header {
  margin-top: 20px;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link,
.nav-link a:visited {
  padding: 20px;
  font-size: 13px;
  margin-right: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

a:hover {
  text-decoration-style: wavy;
  color: white;
  opacity: 75%;
}

.nav-link a {
  color: black;
  text-decoration: solid;
}

.nav-link a:hover {
  color: white;
}

#home {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#home-hello {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

#home-image {
  height: auto;
  width: auto;
  border-radius: 25px;
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 10px;
}

#home-image:hover {
  opacity: 50%;
}

#home-text {
  color: transparent;
  opacity: 25%;
  text-shadow: 2px 2px black;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

#about {
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-title {
  width: 500px;
  font-size: 30px;
  margin-bottom: 20px;
}

#about-text {
  width: 500px;
  font-weight: 600;
}

#about-text li {
  font-size: 14px;
  margin: 5px;
}

#about-text p {
  font-weight: 400;
}

#embed {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 80%;
}

ul {
  list-style-type: square;
}

.no-bull {
  list-style-type: none; /* Remove bullets */
  text-align: left;
}

a {
  color: black;
}

i {
  font-size: 25px;
  opacity: 40%;
  padding: 10px;
}
i:hover {
  color: white;
  opacity: 100%;
}

@media screen and (max-width: 930px) {
  #about-text,
  #about-title {
    width: 70%;
    overflow-x: hidden;
  }
  #home-image:hover {
    opacity: 100%;
  }
  #media {
    position: relative;
    width: 300px;
  }
  #embed {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #home-content {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #home-introduction {
    margin-left: 100px;
    width: 330px;
    min-width: 330px;
  }

  #about {
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
